body {
  background-color: rgb(229, 229, 210);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
  }
.container-fluid{
  margin-bottom: 80px;
}
  .result {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;

  }
  .card{
    margin-left: 50%;
  }
  .card-2{
    margin-left:auto;
  
    height: auto;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0.4, 0.7, 0.5, 0.8);

  }